@import "variables";
@import "node_modules/bootstrap/scss/bootstrap.scss";

.container {
  margin-bottom: 30px;
}

.blockquote {
  border-left: 5px solid #dad8d8;
  border-radius: 0px;
  font-size: 18px;
  margin: 10px;
  padding: 10px 20px;
}

.navbar-expand-sm {
  justify-content: space-between;
}
